body{
    color: aliceblue;
    background: url("https://images.unsplash.com/photo-1547190027-9156686aa2f0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
}

.container{
    width: 40%;
    margin: 100px auto;
}

.monitor{
    width: 80%;
    background-color: rgba(64, 57, 57, 0.75);
    border: 4px black solid;
    border-radius: 5px;
    margin: 5px auto;
    min-height: 200px;
    padding: 10px 5px;
    font-size: 18px;
}

.keyboard{
    width: 95%;
    background-color: rgba(64, 57, 57, 0.70);
    border: 1px black solid;
    border-radius: 4px;
    margin: 5px auto;
    min-height: 100px;
    overflow: visible;
    padding: 5px;
}

.keyboard:hover{
    background-color: rgba(64, 57, 57, 0.85);
}

.left{
    display: inline-block;
    width: 25%;
    float: left;
    margin-right: 5px;
    padding-top: 7px;
}
.right{
    display: inline-block;
    width: 70%;
}

#ac{
    height: 4em;
}

#equal{
    height: 4em;
}

.center{
    margin: 1px auto;
}

.footer{
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    text-decoration-line: none;
    color: black;
}

.footer > a{
    text-decoration-line: none !important;
    font-family: "Comic Sans MS", cursive ;
}

.red{
    color: red;
}

@media only screen and (max-width: 600px){
    .container{
        width: 80%;
    }



}